{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "useTabs": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
}
