.btn {
  margin-left: 10px;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $text-action;
  background-color: $color-default-white;
  border: 1px solid $color-default-green;
  text-transform: uppercase;
  transition: border-color $trans-default, background-color $trans-default,
    color $trans-default;
  cursor: pointer;

  @include hover-focus {
    outline: none;
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;

    @include active {
      opacity: 0.7;
    }
  }

  &--disabled {
    color: $text-dark;
    pointer-events: none;
    background: rgba(2, 102, 193, 0.1);
  }

  &.is-active {
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;
  }
}
