.yoomoney-form {
  margin-bottom: 20px;
}
.yoomoney-form__text {
  margin-top: 0;
  font-size: 18px;
}
.yoomoney-form__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 14px;
  margin-bottom: 20px;
   @include vp-767 {
        grid-template-columns: 1fr;
      }
}
.yoomoney-form__input {
  border: 1px solid #5b5b5b;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5b5b5b;
}
.yoomoney-form__input--email {
}
.yoomoney-form__input--phone {
}
.yoomoney-form__input--full-name {
}
.yoomoney-form__input--adress {
}
.yoomoney-form__input--text {
}
.yoomoney-form__pay-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  & span:first-child {
    margin-right: 10px;
  }
}
.yoomoney-form__price-input {
  max-width: 76px;
  width: auto;
  border: none;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5b5b5b;
}
.yoomoney-form__button {
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $text-action;
  background-color: $color-default-white;
  border: 1px solid $color-default-green;
  text-transform: uppercase;
  transition: border-color $trans-default, background-color $trans-default, color $trans-default;
  color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;
  cursor: pointer;

  @include vp-767 {
    width: 60%;
  }

  @include hover-focus {
    outline: none;
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;

    @include active {
      opacity: 0.7;
    }
  }

  &--disabled {
    color: $text-dark;
    pointer-events: none;
    background: rgba(2, 102, 193, 0.1);
  }

  &.is-active {
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;
  }
}
