.yoomoney-form {
  margin-bottom: 20px;
}
.yoomoney-form__text {
  font-size: 18px;
}
.yoomoney-form__row {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 20px;
}
.yoomoney-form__input {
//   width: 100%;
//   max-width: 48%;
//   row-gap: 20px;
  border: 1px solid #5b5b5b;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5b5b5b;
}
.yoomoney-form__input--email {
}
.yoomoney-form__input--phone {
}
.yoomoney-form__input--full-name {
}
.yoomoney-form__input--adress {
}
.yoomoney-form__input--text {
}
.yoomoney-form__price-input {
  border: 1px solid #5b5b5b;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5b5b5b;
  margin-bottom: 20px;
}
.yoomoney-form__button {
  align-self: center;
  padding: 10px 10px;
  border-radius: 8px;
  // border: 1px solid $color-default-dark;
  // background-color: $color-default-green;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  // color: $text-light;
  color: $text-action;
  background-color: $color-default-white;
  border: 1px solid $color-default-green;
  text-transform: uppercase;
  transition: border-color $trans-default, background-color $trans-default, color $trans-default;
  color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;
  cursor: pointer;

  // @include vp-1199 {
  // }

  @include vp-767 {
    width: 60%;
  }

  @include hover-focus {
    outline: none;
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;

    @include active {
      opacity: 0.7;
    }
  }

  &--disabled {
    color: $text-dark;
    pointer-events: none;
    background: rgba(2, 102, 193, 0.1);
  }

  &.is-active {
    color: $text-light;
    background-color: $color-default-green;
    border: 1px solid $color-default-dark;
  }
}
